NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
CLERK_SECRET_KEY=sk_test_replace_me
NEXT_PUBLIC_SUPABASE_URL=https://xsnagdhshcyaeqsxvruj.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Ihr-7Khzcs3r5fPdRKmhxg_BhJWuEWs
